<tr align=center class={$bg}>
<td width=18 class=caption1><img src="./img/topic_{$tpcIcon}.gif" width=16 height=16 alt=""></td>
<td align=left width="50%" class=caption1><a href="{$indexphp}action=vthread&amp;forum={$forum}&amp;topic={$topic}">{$topicTitle}</a>&nbsp;<sup class="navCell">{$pageNavCell}</sup></td>
<td width="10%" class=caption1>{$numReplies}</td>
<td width="10%" class=caption1>{$numViews}</td>
<td width="15%" class=caption1>{$lastAuthor}</td>
<td width="15%" class=caption1><span class=txtSm>{$whenPosted}</span></td>
</tr>
