<br>
<div align=center>

<table class=forums>
<tr>
<td class=caption3 width="50%" valign=top><div class=header>&nbsp;{$l_lastDiscussions}</div></td>
<td class=caption3 width="50%" align=right valign=top><span class=txtSm><b>{$l_sortedBy}&nbsp;{$sortedByT}.<br><i><a href="{$indexphp}sortBy={$sortByNew}">{$l_sortBy}&nbsp;{$sortByT}</a></i></b></span></td>
</tr>
</table>

<br>

<table class=forums>
<tr>
<td width="5%" class=caption4>&nbsp;</td>
<td width="50%" class=caption4><span class=txtSm><b>{$l_topic}</b></span></td>
<td width="10%" align=center class=caption4><span class=txtSm><b>{$l_replies}</b></span></td>
<td width="10%" align=center class=caption4><span class=txtSm><b>{$l_views}</b></span></td>
<td width="15%" align=center class=caption4><span class=txtSm><b>{$l_author}</b></span></td>
<td width="10%" align=center class=caption4><span class=txtSm><b>{$l_posted}</b></span></td>
</tr>

{$listTopics}

</table>
</div>

