<html>
<HEAD><title>{$title}</title>
{$l_meta}
<LINK href="bb_{$skin}_style.css" type="text/css" rel="STYLESHEET">
</HEAD>
<body class=gbody>
<form action="{$indexphp}" method=post>
<table height="100%" align=center>
<tr>
<td width="100%" valign=middle align=center>

<img src="./img/keypwd.gif" width=31 height=31>
<p>
{$l_forumProtected}:<br><br>

<input type=password maxlength=30 size=20 name="allForums" value="" class="textForm" style="width:200px;"><br><br>
<input type=submit value="{$l_enterforums}" class="inputButton" style="width:200px;">

</td>
</tr>
</table>
</form>
</body>
</html>
