<div align=center>

<table class=forums>
<tr>
<td width="100%" class=caption6><span class=header><a href="{$indexphp}">{$sitename}</a> ::&nbsp;{$l_stats} <b class=bulletHead>&#8212;&#8250;</b> <span class=txtSm>{$statsTop}</span></span></td>
</tr>
</table>

<br>
<form action="{$indexphp}" method=post class=formStyle>

<table class=forums>
<tr>
<td class=caption4><b>::</b> {$l_stats_numUsers} <b>&raquo; {$numUsers}</b></td>
<td class=caption4><b>::</b> {$l_stats_numTopics} <b>&raquo; {$numTopics}</b></td>
<td class=caption4><b>::</b> {$l_stats_numPosts} <b>&raquo; {$numPosts}</b></td>
</tr>
<tr>
<td class=caption4 colspan=3>
<b>::</b> {$l_stats_admin} <a href="{$indexphp}action=userinfo&amp;user=1"><b>{$adminInf}</b></a>
</td>
</tr>

<tr>
<td class=caption4 colspan=3>
<b>::</b> {$l_moderatorsAre}: <b>{$moderatorsList}</b>
</td>
</tr>

<tr>
<td class=caption4 colspan=3>
<b>::</b> {$l_stats_lastReg} <a href="{$indexphp}action=userinfo&amp;user={$lastRegUsr[0]}"><b>{$lastRegUsr[1]}</b></a>
</td>
</tr>

<tr>
<td class=caption5 colspan=3 align=left>
<br>
<input type=hidden name=action value="stats">
<input type=hidden name=top value="{$top}">
<b>*</b> {$l_days_within} <input type=text size=4 maxlength=4 name=days value="{$days}" class=textForm> {$l_days} 
<input type=submit value="{$l_search[3]}" class=inputButton>
<br>
* {$l_stats_days_c}
<br><br>
</td>
</tr>
<!--/13-->

<tr>
<td class=caption4 colspan=3>{$statsOpt}</td>
</tr>
<tr>
<td class=caption5 colspan=3 align=center><br>{$list_stats_popular}{$list_stats_viewed}{$list_stats_aUsers}<br></td>
</tr>
</table>
</form>
</div>
