<div align=center>
<table class=tbTransparent>
<tr>
<td class=tbTransparent>

<form action="{$indexphp}" name=confirm method=post class=formStyle>

<p><b>{$l_postID}: {$post}, {$l_poster}: {$Poster}</b></p>
{$l_areYouSureDeletePost}
<input type=hidden name=action value=delmsg2>
<input type=hidden name=topic value="{$topic}">
<input type=hidden name=forum value="{$forum}">
<input type=hidden name=page value="{$page}">
<input type=hidden name=post value="{$post}">
<br><input type=radio name=dy value=1 checked>{$l_yes} <input type=radio name=dy value=2>{$l_no}
<br>
<input type=submit value="{$l_submit}" class=inputButton>

</form>

</td>
</tr>
</table>
